{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="reveal" style="background-color:#fff">
<div class="slides">
        <section class="" data-id="8404a8577103a93d8a0c441746367f36">
            <h2>
                <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/492185/pasted-from-clipboard.png">
                            <br>
                </h2>
        </section>
</div>   
</div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
