{% extends "layout/base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/tablet.css') }}" rel="stylesheet" media="screen and (max-height: 770px)">
{% endblock %}

{% block scripts%}
<script src="{{ url_for('static', filename='js/sigma/sigma.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma/sigma.parseJson.js') }}"></script>
<script src="{{ url_for('static', filename='js/fancybox/jquery.fancybox.pack.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>

jQuery.getJSON(GetQueryStringParams("config",{{ url_for('static', filename='config.json') }}), function(data, textStatus, jqXHR) {
	config=data;
	
	if (config.type!="network") {
		//bad config
		alert("Invalid configuration settings.")
		return;
	}
	
	//As soon as page is ready (and data ready) set up it
	$(document).ready(setupGUI(config));
});//End JSON Config load
</script>

{% endblock %}

{% block content %}

<div class="sigma-parent">
	<div class="sigma-expand" id="sigma-canvas"></div>
</div>
<div id="mainpanel">
  <div class="col">
    <div class="b1">
		<form>
		  <div id="search" class="cf"><h2>Pick your news domain:</h2>
		    <input type="text" name="search" value="Search by name" class="empty"/><div class="state"></div>
		    <div class="results"></div>
		  </div>
		</form>
    </div>
	<div id="legend">
		<div class="box">
			<h2>Legend:</h2>
			<dl>
			<dt class="node"></dt>
			<dd></dd>
			<dt class="edge"></dt>
			<dd></dd>
			<dt class="colours"></dt>
			<dd></dd>		
			</dl>
		</div>
	</div> 
  </div>
  <div id="information">
  </div>
</div>
	<div id="zoom">
  		<div class="z" rel="in"></div> <div class="z" rel="out"></div> <div class="z" rel="center"></div>
	</div>
<div id="attributepane">
<div class="text">
	<div title="Close" class="left-close returntext"><div class="c cf"><span>Return to the full network</span></div></div>	
<div class="headertext">
	<span>Information Pane</span>
</div>	
  <div class="nodeattributes">
    <div class="name"></div>
	<div class="data"></div>
    <div class="p">Connections:</div>
    <div class="link">
      <ul>
      </ul>
    </div>
  </div>
	</div>
</div>

{% endblock %}
