{% extends "layout/base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/slider.css') }}" rel="stylesheet">
table td:first-child {
border-left: none;
}
{% endblock %}

{% block content %}
<div class="row" style="margin-top:3%;height:95%">
<div class="col-md-4" style="padding:0px;padding-left:20px;height:100%">
    <div class="panel panel-primary panel-info"  style="margin:0px;height:60%">
    <div class="panel-heading" style="margin:0px">
         <h3 class="panel-title"><b style="font-size:110%">News-websites finder:</b></h3>
    </div>
    <div class="panel-body" style="margin:0px;height:100%;padding:0px">
        <div class = "row" style="height:100%">
            <div class="col-md-6" style="padding-top:0px;padding-right:0px;height:100%">
                <!-- Like field -->
                <div class="panel panel-primary panel-success"  style="margin:0px;height: 100%">
                    <div class="panel-heading">
                        <h3 class="panel-title">Like these news-websites</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/search" method="post" name="edit">
                        {{pos_form.hidden_tag()}}
                            <div class="form-group">
                                {{pos_form.add_pos_domain(size=50, class="form-control", autocomplete='off', value="", id="add_pos_domain", **{'data-provide':'typeahead'})}}
                            </div>
                            <button type="submit" class="btn btn-default" value='submit'><span class="glyphicon glyphicon-plus"></span> Add</button>
                        </form>
                  	</div>
	                {% if config['pos_domains'] %}
	                <div class="panel-body" style="height:50%;overflow:auto">
		                {%for line in config['pos_domains'] %}
		                <form class="form" role="form" action="/search" method="post" name="pos">
		                {{pos_form.del_pos_domain(size=10, class="form-control", type='hidden', autocomplete='off', value = line)}}		
		                <button type="submit" class="btn btn-success" value="submit" style="font-size: 15px; margin-top: 5px">{{line}}<span class="glyphicon glyphicon-remove" style="font-size: 1.3em; vertical-align:middle; margin-left: 10px"></span></button>
		                </form>
		                {% endfor %}
	                </div>
	                {% endif %}
                </div>
            </div>
            <!-- Unlike field -->
            <div class="col-md-6" style="padding-top:0px;padding-left:0px;;height:100%">
                <div class="panel panel-primary panel-danger"  style="margin:0px;height:100%">
                    <div class="panel-heading">
                        <h3 class="panel-title">Unlike these news-websites</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/search" method="post" name="edit">
                        {{neg_form.hidden_tag()}}
                            <div class="form-group">
                                {{neg_form.add_neg_domain(size=50, class="form-control", autocomplete='off', value="", id="add_neg_domain", **{'data-provide':'typeahead'})}}
                            </div>
                            <button type="submit" class="btn btn-default" value='submit'><span class="glyphicon glyphicon-plus"></span> Add</button>
                        </form>
                  	</div>
	                {% if config['neg_domains'] %}
	                <div class="panel-body" style="height:50%;overflow:auto">
		                {%for line in config['neg_domains'] %}
		                <form class="form" role="form" action="/search" method="post" name="neg">
		                {{neg_form.del_neg_domain(size=10, class="form-control", type='hidden', autocomplete='off', value = line )}}		
		                <button type="submit" class="btn btn-danger" value="submit" style="font-size: 15px; margin-top: 5px">{{line}}<span class="glyphicon glyphicon-remove" style="font-size: 1.3em; vertical-align:middle; margin-left: 10px"></span></button>
		                </form>
		                {% endfor %}
	                </div>
	                {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class = "row" style="height:35%">
        <div class="col-md-12" style="padding-top:0px;height:100%">
            <div class="panel panel-info"  style="margin:0px;height:100%">
                <div class="panel-heading">
                    <h3 class="panel-title">Select effect of each metric on recommender</h3>
                </div>
                <div class="panel-body" style="height:100%" style="display:none">
                    <div class="row"  id ="sliders" style="visibility: hidden">
                      <form role="form" id="sliders_form" action="/search" method="post" name="slider">  
                        <div class="col-md-6">    
                    Edge weights:<br><div style="margin-bottom:4px">10%{{sliders_form.links_slider(id ='links_slider', class='span2', size=13, value=config['links_slider'], ** {'data-slider-min':'10', 'data-slider-max':'100', 'data-slider-step':'10', 'data-slider-value':config['links_slider'], 'data-slider-orientation':'horizontal', 'data-slider-selection':'after', 'data-slider-tooltip':'hide'})}}100%</div><br>
                    Alexa rank (Traffic):<br><div style="margin-bottom:4px">0%{{sliders_form.alexa_slider(id ='alexa_slider', class='span2', size=13, value=config['alexa_slider'], ** {'data-slider-min':'0', 'data-slider-max':'100', 'data-slider-step':'10', 'data-slider-value':config['alexa_slider'], 'data-slider-orientation':'horizontal', 'data-slider-selection':'after', 'data-slider-tooltip':'hide'})}}100%</div><br>
                    Page rank (Reach):<br><div style="margin-bottom:4px">0%{{sliders_form.p_rank_slider(id ='p_rank_slider', class='span2', size=13, value=config['p_rank_slider'], ** {'data-slider-min':'0', 'data-slider-max':'100', 'data-slider-step':'10', 'data-slider-value':config['p_rank_slider'], 'data-slider-orientation':'horizontal', 'data-slider-selection':'after', 'data-slider-tooltip':'hide'})}}100%</div><br>       
                        </div>
                        <div class="col-md-6">
                    In Degree:<br><div style="margin-bottom:4px">0%{{sliders_form.in_slider(id ='in_slider', class='span2', size=13, value=config['in_slider'], ** {'data-slider-min':'0', 'data-slider-max':'100', 'data-slider-step':'10', 'data-slider-value':config['in_slider'], 'data-slider-orientation':'horizontal', 'data-slider-selection':'after', 'data-slider-tooltip':'hide'})}}100%</div><br>
                    Out Degree:<br><div style="margin-bottom:4px">0%{{sliders_form.out_slider(id ='out_slider', class='span2', size=13, value=config['out_slider'], ** {'data-slider-min':'0', 'data-slider-max':'100', 'data-slider-step':'10', 'data-slider-value':config['out_slider'], 'data-slider-orientation':'horizontal', 'data-slider-selection':'after', 'data-slider-tooltip':'hide'})}}100%</div><br>
                    Self Degree:<br><div style="margin-bottom:4px">0%{{sliders_form.self_slider(id ='self_slider', class='span2', size=13, value=config['self_slider'], ** {'data-slider-min':'0', 'data-slider-max':'100', 'data-slider-step':'10', 'data-slider-value':config['self_slider'], 'data-slider-orientation':'horizontal', 'data-slider-selection':'after', 'data-slider-tooltip':'hide'})}}100%</div><br>
                        </div>
                        </form>           
                    </div>
                    <button type="button" id ="restore_sliders" class="btn btn-default">Restore default weights</button> 
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="col-md-8" style="padding:0px;padding-right:20px;padding-left:20px;height:100%">
<!-- Output -->
    <div class="panel panel-primary"  style="margin:0px;height:95%">
        {% if data %}        
        <div class="panel-heading">
            <h3 class="panel-title">Top 20 recommended websites</h3>
        </div>        
        <div class="panel-body" style="margin:0px;height:40%;overflow:auto">
            <table class="table table-hover" style="text-align:left">
                <tr>
                  <th style="font-size:115%;color:#000066;border-right:1px solid #D0D0D0;background-color:#E6E6FF">Rank</th>
                  <th style="font-size:115%;color:#000066;border-right:1px solid #D0D0D0;background-color:#E6E6FF">Domain</th>
                  <th style="background-color:#E8E8E8">Location</th>
                  <th style="background-color:#E8E8E8">Edge weights</th>   
                  <th style="background-color:#E8E8E8">Alexa rank</th>
                  <th style="background-color:#E8E8E8">PageRank</th>
                  <th style="background-color:#E8E8E8">In Degree</th>
                  <th style="background-color:#E8E8E8">Out Degree</th>
                  <th style="background-color:#E8E8E8">Self Degree</th>
                </tr>
                {%for line in data%}
                <tr>
                  <td style="font-size:115%;color:#000066;border-right:1px solid #D0D0D0;background-color:#E6E6FF">{{line[12]}}</td>
                  <td style="font-size:115%;color:#000066;border-right:1px solid #D0D0D0;background-color:#E6E6FF">{{line[1]}}</td>
                  <td style="background-color:#E8E8E8">{{line[3]}}</td>
                  <td style="background-color:#E8E8E8">{{"%.4f" % line[11]|float}}</td> 
                  <td style="background-color:#E8E8E8">{{line[2]}}</td>
                  <td style="background-color:#E8E8E8">{{"%.5f" % line[10]|float}}</td>
                  <td style="background-color:#E8E8E8">{{line[7]}}</td>
                  <td style="background-color:#E8E8E8">{{line[6]}}</td>
                  <td style="background-color:#E8E8E8">{{line[9]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel-body" style="margin:0px;height:100%; overflow:auto">
            <div id="graph-container" style="width:100%;height:55%;border-top:1px;border-top-style:solid;border-color:#428bca"></div>         
        </div>
        {% endif %}
        {% if not data %}
            <div class="panel-heading">
                <h3 class="panel-title">Instructions</h3>
            </div> 
            <div class="panel-body" style="font-size:120%">
                <div class="well well-lg">
                <div class="alert alert-warning">Please follow the instructions:</div>
                <div class="alert alert-info">1: To start please enter website of interest to the "Like these" text field in the green panel</div>
                <div class="alert alert-info">2: You can also add "Unlike these" website to the text field in the red panel</div>
                <div class="alert alert-info" style="font-size:90%;margin-left:40px;padding:5px"><span class="glyphicon glyphicon-info-sign"></span> More than one website can be added to the green and red panels</div>
                <div class="alert alert-info">3: Advanced users can also ballance the recommendation toward more popular or more connected websites by changing the weights of each node metric</div>
                <div class="alert alert-info">4: Use "Explore Full Graph" tab to explore the full news-websites graph</div>
                <div class="alert alert-info">5: Use "Preview Data Table" tab to browse all the graph nodes and metric parameters</div>
                </div>
            </div>
        {% endif %}
    </div>

</div>
</div>
{% endblock %}

{% block scripts %}


<script src="{{ url_for('static', filename='js/bootstrap-slider.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/sigma.core.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/conrad.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/utils/sigma.utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/utils/sigma.polyfills.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/sigma.settings.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/classes/sigma.classes.dispatcher.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/classes/sigma.classes.configurable.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/classes/sigma.classes.graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/classes/sigma.classes.camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/classes/sigma.classes.quad.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/captors/sigma.captors.mouse.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/captors/sigma.captors.touch.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/sigma.renderers.canvas.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/sigma.renderers.webgl.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/sigma.renderers.def.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/webgl/sigma.webgl.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/webgl/sigma.webgl.nodes.fast.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/webgl/sigma.webgl.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/webgl/sigma.webgl.edges.fast.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/webgl/sigma.webgl.edges.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/canvas/sigma.canvas.labels.def.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/canvas/sigma.canvas.hovers.def.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/canvas/sigma.canvas.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/canvas/sigma.canvas.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/canvas/sigma.canvas.edges.curve.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/canvas/sigma.canvas.edges.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/middlewares/sigma.middlewares.rescale.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/middlewares/sigma.middlewares.copy.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/misc/sigma.misc.animation.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/misc/sigma.misc.bindEvents.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/src/misc/sigma.misc.drawHovers.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/plugins/sigma.layout.forceAtlas2/worker.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma_new/plugins/sigma.layout.forceAtlas2/supervisor.js') }}"></script>
<!-- END SIGMA IMPORTS -->
<script src="{{ url_for('static', filename='js/sigma_new/plugins/sigma.parsers.json/sigma.parsers.json.js') }}"></script>
<script>
// sliders
$('#links_slider, #alexa_slider, #p_rank_slider, #in_slider, #out_slider, #self_slider').slider()
$('#links_slider, #alexa_slider, #p_rank_slider, #in_slider, #out_slider, #self_slider').on('slideStop',function() {
    $('#sliders_form').submit()
});
$('#sliders').css('visibility','visible')
// typeahead
$('#add_pos_domain').typeahead({
    source: {{all_domains|tojson}}
});
$('#add_neg_domain').typeahead({
    source: {{all_domains|tojson}}
});

// restore default weights
$(document).ready(function(){
    $('#restore_sliders').button();
    $("#restore_sliders").click(function() {
        $('#links_slider').attr('value','40')
        $('#alexa_slider').attr('value','40')
        $('#p_rank_slider').attr('value','40')
        $('#in_slider').attr('value','0')
        $('#out_slider').attr('value','0')
        $('#self_slider').attr('value','0')
        $('#sliders_form').submit()     
    });
});
// Graph
 // these are just some preliminary settings
{% if graph %}

   var g = {{graph|tojson}};

   // Create new Sigma instance in graph-container div (use your div name here) 
   s = new sigma({
   graph: g,
   container: 'graph-container',
	settings: {
	    drawEdges: true
	  },
   renderer: {
    container: document.getElementById('graph-container'),
    type: 'canvas'
   },
   settings: {
    minNodeSize: 5,
    maxNodeSize: 20
    } 
   });
   // first you load a json with (important!) s parameter to refer to the sigma instance   
   
   // Refresh the display:
    s.refresh();

    // ForceAtlas Layout
    s.configForceAtlas2({edgeWeightInfluence: 0.5, gravity:0.1,adjustSized: true, slowDown: 10})
    s.startForceAtlas2();
	// run for max 2 sec
	setTimeout(function() { s.stopForceAtlas2(); }, 2000);


{% endif %}
jQuery.getJSON("{{ url_for('static', filename='data.json')}}");   
</script>
   
{% endblock %}
