{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="reveal" style="background-color:#fff">
  <div class="slides">
    <section class="" data-id="c7b1f5e94dc5d5458410271238194928">&nbsp;<h2 class="absolute-element" style="position: absolute; width: 794px; height: 655px; z-index: 4; left: 67px; top: 3px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/481651/pasted-from-clipboard.png">
    <br>
</h2>
</section>
<section class="" data-id="7798d8ae09e19f04f51c7a5bb97bf004">
    <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/481672/pasted-from-clipboard.png">
    <br>
</h2>
</section>
<section class="" data-id="499aa6323f886af8aec8dc8ddb8c49e5">
    <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/481678/pasted-from-clipboard.png">
    <br>
</h2>
</section>
<section class="" data-id="3544a429c1d702ef59227e64d0ad4241">
    <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/481680/pasted-from-clipboard.png">
    <br>
</h2>
</section>
<section class="" data-id="31a237abdc8b87c76a33e675ec5c3a4f">
    <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/481698/pasted-from-clipboard.png">
    <br>
</h2>
</section>
</div>

</div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
