{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="reveal" style="background-color:#fff">
<div class="slides">
    <section class="stack" data-id="74bce2c5242bc0a3ed37a2722bb6b0ad" data-transition="fade">
        <section class="" data-id="08c1ec68f8e8bf3b0ee9967ca1c07d31" data-transition="fade">
            <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494002/pasted-from-clipboard.png">
            <br>
</h2>
        </section>
        <section class="" data-id="a5391ee97ce3609a614665540d735c23" data-transition="none">
            <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494013/pasted-from-clipboard.png">
            <br>
</h2>
        </section>
        <section class="" data-id="8404a8577103a93d8a0c441746367f36" data-transition="none">
            <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494015/pasted-from-clipboard.png">
            <br>
</h2>
        </section>
        <section class="" data-id="e6d2b4fb17ccfe971d75acabc45fc5c7" data-transition="none">
            <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/495959/pasted-from-clipboard.png">
            <br>
</h2>
        </section>
    </section>
    <section class="" data-id="81cc218af1e9cf900560d84b8e68a7f3" data-transition="fade">
        <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494004/pasted-from-clipboard.png">
        <br>
</h2>
    </section>
    <section class="" data-id="499aa6323f886af8aec8dc8ddb8c49e5" data-transition="fade">
        <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494006/pasted-from-clipboard.png">
        <br>
</h2>
    </section>
    <section class="" data-id="3544a429c1d702ef59227e64d0ad4241" data-transition="fade">
        <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494012/pasted-from-clipboard.png">
        <br>
</h2>
    </section>
    <section class="" data-id="7e031d4d736d53fc309e59df6896aa3a" data-transition="fade">
        <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494013/pasted-from-clipboard.png">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/495962/pasted-from-clipboard.png">
        <br>
</h2>
    </section>
    <section class="" data-id="1c01e362eeb3c6ce0242b237cda5279b" data-transition="fade">
        <h2>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/494015/pasted-from-clipboard.png">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/igorbest/images/495965/pasted-from-clipboard.png">
        <br>
</h2>
    </section>
</div>
</div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
